@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;500;700;900&display=swap");

@layer base {
  .body {
    min-width: 370px;
  }
  .h1 {
    @apply text-4xl font-bold;
  }
  .h2 {
    @apply text-3xl font-medium;
  }
  .h3 {
    @apply text-2xl font-medium;
  }
  .h4 {
    @apply text-xl font-medium;
  }
  .p {
    @apply text-lg;
  }
  .note {
    @apply text-sm opacity-90;
  }
  .icon-sm {
    @apply h-5 w-5;
  }
  .icon {
    @apply h-6 w-6;
  }
  .icon-lg {
    @apply h-7 w-7;
  }
  .icon-xl {
    @apply h-8 w-8;
  }
}

@layer components {
  .btn-home {
    @apply py-1 px-4 bg-secondary text-white hover:bg-primary;
  }
}
